<div class="container-fluid contact py-3">
    <div class="row justify-content-center my-3">
        <div class="col-md-6 col-sm-6 text-center">
            <p class="dark-red fs-5 fw-bold">اتصل بنا</p>
            <p>هل لديك أسئلة أو تريد معرفة المزيد عن عملنا؟ تواصل معنا!</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4 col-sm-6 text-center">
            <div class="d-flex justify-content-center mb-2">
                <div class="icon">
                    <i class="fa-solid fa-envelope fa-xl dark-red "></i>

                </div>
            </div>

            <p>البريد الإلكتروني</p>
            <a style="text-decoration: none;" href="mailto:alitihad@gmail.com">alitihad&#64;gmail.com</a>

        </div>
        <div class="col-md-4 col-sm-6 text-center">
            <div class="d-flex justify-content-center mb-2">
                <div class="icon">
                    <i class="fa-solid fa-phone-volume fa-xl dark-red "></i>
                </div>
            </div>
            <p>الهاتف</p>
            <a style="text-decoration: none;" href="tel:000000000000">000000000000</a>
        </div>
        <div class="col-md-4 col-sm-6 text-center">
            <div class="d-flex justify-content-center mb-2">
                <div class="icon">
                    <i class="fa-solid fa-location-dot fa-xl dark-red "></i>
                </div>
            </div>
            <p>المقر الرئيسي</p>
 <p>وﻻية كاليفورنيا <br> الوﻻيات المتحدة الأمريكية</p>
        </div>
    </div>
</div>

<div class="container-fluid bg-blau">
    <div class="row justify-content-center py-5 px-3 ">
        <div class="col-md-6 ">
            <p class="copy">© 2025 الاتحاد الدولي للعالم العربي. جميع الحقوق محفوظة.</p>

        </div>

        <div class="col-md-6 ">
            <ul>
                <li><a href="">الخصوصية</a></li>
                <li><a href="">من نحن</a></li>
                <li><a href="">الشروط والأحكام</a></li>
            </ul>
        </div>
    </div>
</div>