<div class="container-fluid news py-5">
    <div class="row justify-content-center  mb-3">
        <div class="col-md-6">
            <p class="dark-red fs-5 text-center fw-bold">الأخبار</p>
            <p class="text-center">ابق على اطلاع بأحدث أنشطتنا وإنجازاتنا</p>
        </div>
    </div>

    <div class="row justify-content-center  px-3">
        <div class="col-md-5 mx-2 my-2 newsCard p-2">
            <p class="fs-5 fw-bold">شراكة جديدة مع جامعات رائدة</p>
            <p>علن الاتحاد اليوم عن شراكة مهمة مع عشر جامعات رائدة حول العالم.</p>
        </div>
        <div class="col-md-5 mx-2 my-2 newsCard p-2">
              <p class="fs-5 fw-bold">شراكة جديدة مع جامعات رائدة</p>
            <p>علن الاتحاد اليوم عن شراكة مهمة مع عشر جامعات رائدة حول العالم.</p>
        </div>
    </div>

    <div class="row justify-content-center  px-3">
        <div class="col-md-5 mx-2 my-2 newsCard p-2">
            <p class="fs-5 fw-bold">شراكة جديدة مع جامعات رائدة</p>
            <p>علن الاتحاد اليوم عن شراكة مهمة مع عشر جامعات رائدة حول العالم.</p>
        </div>
        <div class="col-md-5 mx-2 my-2 newsCard p-2">
              <p class="fs-5 fw-bold">شراكة جديدة مع جامعات رائدة</p>
            <p>علن الاتحاد اليوم عن شراكة مهمة مع عشر جامعات رائدة حول العالم.</p>
        </div>
    </div>

</div>