<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-5 my-3">
            <p class="text-center fs-5 dark-red fw-bold ">
                من نحن

            </p>
            <p class="text-center fs-5">
                الاتحاد الدولي للعالم العربي هو منظمة رائدة مكرسة لتعزيز التفاهم والتعاون والتنمية في العالم العربي

            </p>
        </div>
    </div>
    <div class="row align-content-center align-items-center">
        <div class="col-md-6">
            <img src="/images/logo2.jpg" loading="lazy" class="mx-auto d-block logo"
                style="max-width: 450px;width: 100%;" alt="">
        </div>

        <div class="col-md-4 fs-5">
            <p class="fw-bold">قصتنا</p>
            <p>منذ تأسيسنا، كرسنا أنفسنا لمهمة بناء الجسور بين الثقافات وتعزيز الحوار بين العالم العربي والمجتمع الدولي
            </p>
            <p>مع أعضاء الاتحاد، نعمل يوميًا على تعزيز التفاهم وكسر الحواجز الثقافية ودعم التنمية المستدامة</p>

            <p>من خلال برامجنا المتنوعة وفعالياتنا ومبادراتنا، نخلق منصات للتبادل والتعليم والتعاون</p>

        </div>
    </div>
    <div class="row my-5 icons ">
        <div class="col-md-3 text-center ">
            <div class="d-flex justify-content-center">
                <div class="icon">
                    <i class="fa-solid fa-globe fa-2xl "></i>
                </div>
            </div>
            <p class="fw-bold mt-2">التواصل الاجتماعي</p>
            <p> العمل على تحقيق وحدة الموقف والجهد العربي في دعم ومساندة قضايا الأمة العربية الثقافية والاجتماعية
                والاقتصادية. </p>
        </div>
        <div class="col-md-3 text-center  ">
            <div class="d-flex justify-content-center">
                <div class="icon"><i class="fa-solid fa-person-dress fa-2xl"></i></div>
            </div>
            <p class="fw-bold mt-2">تفعيل دور المرأة</p>
            <p> إعادة تفعيل دور المرأة في المجالات الاجتماعية والحقوقية والثقافية ودعم حقها في العمل والتعليم. </p>
        </div>
        <div class="col-md-3 text-center  ">
            <div class="d-flex justify-content-center">
                <div class="icon"><i class="fa-solid fa-heart fa-2xl"></i></div>


            </div>

            <p class="fw-bold mt-2">المسؤولية الاجتماعية</p>
            <p> العمل على ترسيخ مفاهيم العدالة الاجتماعية والقيم الأخلاقية والعمل على نشرها في أوساط المجتمعات العربية.
            </p>
        </div>
        <div class="col-md-3 text-center  ">
            <div class="d-flex justify-content-center">
                <div class="icon"><i class="fa-solid fa-dove  fa-2xl"></i></div>

            </div>
            <p class="fw-bold mt-2">حق الإنسان وحريته</p>
            <p>الدفاع عن حق الإنسان وحريته في التعبير عن رأيه وتعزيز ثقافة الاعتراف بالآخر وتعميم السلام.</p>
        </div>

    </div>

</div>