<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 col-sm-10 goals">
            <h2 class="text-center text-warning-emphasis my-5 fw-bold animate__animated animate__fadeInDown"><span>الرؤية والأهداف في الاتحاد </span></h2>
            <div class="row">
                <div class="col-md-8">
                    <h4 class="p-0 my-3 fs-5"><span class="bg-warning fw-bold px-2 py-2">الرئيس والمؤسس:</span></h4>
                    <p class="fs-5 px-2">الدكتور خالد محمود عبد القوي عبد اللطيف من جمهورية مصر العربية.</p>
                    <h4 class="p-0 my-3 fs-5 mt-5"><span class="bg-warning fw-bold px-2 py-2">المقر:</span></h4>
                    <p class="fs-5 px-2">وﻻية كاليفورنيا <br> الوﻻيات المتحدة الأمريكية</p>
                </div>
                <div class="col-md-4 ">
                    <img src="/images/headOfItehad.png" class="d-block animate__animated animate__fadeInLeft" alt="" style="max-width:250px;width: 100%;">
                </div>
            </div>

            <h4 class="p-0 my-3 fs-5 mt-2"><span class="bg-warning fw-bold px-2 py-2"> مبادئ و الأهداف:</span></h4>

            <p class="fs-5 my-2 mt-4 px-2">أولا: على الصعيد الاجتماعي:</p>
            <ol>
                <li>
                    إرساء مبادئ المساواة وتمتين أواصر العيش المشترك والحوار ومناهضة التمييز بكافة أشكاله.
                </li>
                <li>
                    العمل على ترسيخ مبادئ دور المرأة في الحقوق الاجتماعية والمدنية.
                </li>
                <li>
                    العمل على تحقيق وحدة الموقف والجهد العربي في دعم ومساندة قضايا الأمة العربية الثقافية والاجتماعية
                    والاقتصادية.
                </li>
                <li>
                    العمل على ترسيخ مفاهيم العدالة الاجتماعية والقيم الأخلاقية والعمل على نشرها في أوساط المجتمعات
                    العربية.
                </li>
                <li>
                    الدفع على تنمية المجتمعات المحلية والريفية في مجال الديمقراطية والحقوق والحريات بالتنسيق مع كافة
                    المؤسسات الإعلامية، والاستفادة من وسائل التواصل الاجتماعي.
                </li>
                <li>
                    إعادة تفعيل دور المرأة في المجالات الاجتماعية والحقوقية والثقافية ودعم حقها في العمل والتعليم.
                </li>
                <li>
                    العمل على دعم التواصل بين الشباب العربي لتبادل الخبرات في كافة المجالات.
                </li>
                <li>
                    دعم حق الأفراد وحريتهم في تأسيس الجمعيات والمؤسسات والانخراط في المنظمات النقابية والاتحادات تحت
                    المظلة الحكومية لكل دولة.
                </li>
            </ol>


            <p class="fs-5 my-2 mt-4 px-2">ثانياً: على الصعيد الاقتصادي</p>
            <ol>
                <li>العمل على مطالبة الدول لسن قوانين وتشريعات تسهم باستثمار الطاقات الاقتصادية في جميع الأقطار العربية
                    لتوفير فرص العمل والتأهيل والبحث العلمي لتوفير العيش الكريم للإنسان العربي وتحقيق الرفاهية
                    الاقتصادية.</li>
                <li>حث الدول على بناء اقتصاد متوازن تشترك فيه الدولة مع القطاع الخاص لرعاية المواطنين اقتصادياً
                    والمطالبة بسن قوانين تكفل الحد الأدنى المقبول من الدخل.</li>
                <li>حث الدول للاهتمام بالمشاريع الصغيرة وتخصيص صناديق استثمارية تمول احتياجات الشباب الضرورية كالزواج
                    والسكن والتدريب.</li>
                <li>المساعدة على توحيد الفكر الإقتصادي بين الدول العربية لبناء قوة إقتصادية مؤثرة على الإقتصاد الدولي.
                </li>
            </ol>

            <p class="fs-5 my-2 mt-4 px-2">ثالثاً: على الصعيد التربوي</p>
            <ol>
                <li>الحث على الاهتمام بالبنية التحتية في المدراس والجامعات والمعاهد ومراكز البحوث العلمية وإعداد
                    المدرسين والمعلمين وأساتذة الجامعات على نحو يجعلهم أكثر كفاءة وعطاءً والإفادة من البعثات الخارجية
                    لزيادة التجربة العلمية في الميدان التربوي.</li>
                <li>وضع الدراسات لتنمية قدرات الطلاب وتوجيههم أكاديمياً ومهنياً حسب حاجات سوق العمل.</li>
                <li>عمل دراسات لتطوير المناهج التعليمية والتربوية وطرق تطبيقها ووضع خطط استراتيجية لتحقيق الأهداف
                    المرجوة، ودراسة أوضاع المؤسسات التربوية ووضع خطط استراتيجية لحل مشاكلها.</li>
                <li>وضع الدراسات والاستشارات لتطوير المؤسسات التربوية والتعليمية وفقاً للتطور التكنولوجي الحديث وإنشاء
                    المدارس على أنواعها وفق المبادئ التربوية والتعليمية الحديثة، وتعزيز القيم التربوية والأخلاقية ومبادئ
                    حقوق الإنسان وقيم الوحدة العربية والإسلامية.</li>
                <li>دعم الاهتمام بالطفولة ودعم ومساندة المنظمات والمؤسسات الدولية والمحلية التي تهتم بهذا المجال.</li>
            </ol>

            <p class="fs-5 my-2 mt-4 px-2">رابعاً: على الصعيدين الثقافي والفكري</p>
            <ol>
                <li>الاهتمام باللغة العربية وإرثها الحضاري بوصفها لسان العرب ودليل وحدتهم والحفاظ على الهوية الثقافية
                    العربية بروافدها الحضارية المتنوعة.</li>
                <li>الدفاع عن حق الإنسان وحريته في التعبير عن رأيه وتعزيز ثقافة الاعتراف بالآخر وتعميم السلام.</li>
            </ol>
        
        </div>
    </div>
</div>