<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 col-sm-10 goals">
            <h2 class="text-center my-5 fw-bold animate__animated animate__fadeInDown" style="color:#c25f1a"><span>الرؤية والأهداف في الاتحاد </span></h2>

        
            <div class="row my-2 mt-4 px-0">
                <div class="col-1 d-flex justify-content-end align-items-center px-2 ">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-1 text-white"></i>

                    </div>
                </div>
                <div class="col-11 d-flex align-items-center px-0">

            <p class="fs-5 m-0 p-0 fw-bold" style="color:#223574">
                     
                         على الصعيد الاجتماعي:</p>
                </div>
            </div>
            <div class="goalsItems">
                <p>
                    <img src="/images/check.jpg" style="max-width: 30px;width: 100%;" alt="Check">
                    إرساء مبادئ المساواة وتمتين أواصر العيش المشترك والحوار ومناهضة التمييز بكافة أشكاله.
                </p>

                 <p>
                    <img src="/images/check.jpg" style="max-width: 30px;width: 100%;" alt="Check">
                    العمل على ترسيخ مبادئ دور المرأة في الحقوق الاجتماعية والمدنية.
                </p>

                 <p>
                    <img src="/images/check.jpg" style="max-width: 30px;width: 100%;" alt="Check">

                    العمل على تحقيق وحدة الموقف والجهد العربي في دعم ومساندة قضايا الأمة العربية الثقافية والاجتماعية
                    والاقتصادية.                </p>


                 <p>
                    <img src="/images/check.jpg" style="max-width: 30px;width: 100%;" alt="Check">
 العمل على ترسيخ مفاهيم العدالة الاجتماعية والقيم الأخلاقية والعمل على نشرها في أوساط المجتمعات
                    العربية.                </p>
                 <p>
                    <img src="/images/check.jpg" style="max-width: 30px;width: 100%;" alt="Check">

                    الدفع على تنمية المجتمعات المحلية والريفية في مجال الديمقراطية والحقوق والحريات بالتنسيق مع كافة
                    المؤسسات الإعلامية، والاستفادة من وسائل التواصل الاجتماعي.                </p>
                 <p>
                    <img src="/images/check.jpg" style="max-width: 30px;width: 100%;" alt="Check">

                    إعادة تفعيل دور المرأة في المجالات الاجتماعية والحقوقية والثقافية ودعم حقها في العمل والتعليم.                </p>
                 <p>
                    <img src="/images/check.jpg" style="max-width: 30px;width: 100%;" alt="Check">
                    العمل على دعم التواصل بين الشباب العربي لتبادل الخبرات في كافة المجالات.
                </p>
                 <p>
                    <img src="/images/check.jpg" style="max-width: 30px;width: 100%;" alt="Check">

                    دعم حق الأفراد وحريتهم في تأسيس الجمعيات والمؤسسات والانخراط في المنظمات النقابية والاتحادات تحت
                    المظلة الحكومية لكل دولة.                </p>
                 
            </div>
        
  <div class="row my-2 mt-4 px-0">
                <div class="col-1 d-flex justify-content-end align-items-center px-2 ">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-2 text-white"></i>

                    </div>
                </div>
                <div class="col-11 d-flex align-items-center px-0">

            <p class="fs-5 m-0 p-0 fw-bold" style="color:#223574">
                     
على الصعيد الاقتصادي:                        </p>
                </div>
            </div>
            <div class="goalsItems">
                <p>
                    <img src="/images/check.jpg" style="max-width: 30px;width: 100%;" alt="Check">

                    العمل على مطالبة الدول لسن قوانين وتشريعات تسهم باستثمار الطاقات الاقتصادية في جميع الأقطار العربية
                    لتوفير فرص العمل والتأهيل والبحث العلمي لتوفير العيش الكريم للإنسان العربي وتحقيق الرفاهية
                    الاقتصادية.                </p>

                 <p>
                    <img src="/images/check.jpg" style="max-width: 30px;width: 100%;" alt="Check">

                    حث الدول على بناء اقتصاد متوازن تشترك فيه الدولة مع القطاع الخاص لرعاية المواطنين اقتصادياً
                    والمطالبة بسن قوانين تكفل الحد الأدنى المقبول من الدخل.                </p>

                 <p>
                    <img src="/images/check.jpg" style="max-width: 30px;width: 100%;" alt="Check">

                    حث الدول للاهتمام بالمشاريع الصغيرة وتخصيص صناديق استثمارية تمول احتياجات الشباب الضرورية كالزواج
                    والسكن والتدريب.</p>


                 <p>
                    <img src="/images/check.jpg" style="max-width: 30px;width: 100%;" alt="Check">
                    المساعدة على توحيد الفكر الإقتصادي بين الدول العربية لبناء قوة إقتصادية مؤثرة على الإقتصاد الدولي.</p>
                 
            </div>
  <div class="row my-2 mt-4 px-0">
                <div class="col-1 d-flex justify-content-end align-items-center px-2 ">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-3 text-white"></i>

                    </div>
                </div>
                <div class="col-11 d-flex align-items-center px-0">

            <p class="fs-5 m-0 p-0 fw-bold" style="color:#223574">
                     
على الصعيد التربوي:</p>
                </div>
            </div>
            <div class="goalsItems">
                <p>
                    <img src="/images/check.jpg" style="max-width: 30px;width: 100%;" alt="Check">

                    الحث على الاهتمام بالبنية التحتية في المدراس والجامعات والمعاهد ومراكز البحوث العلمية وإعداد
                    المدرسين والمعلمين وأساتذة الجامعات على نحو يجعلهم أكثر كفاءة وعطاءً والإفادة من البعثات الخارجية
                    لزيادة التجربة العلمية في الميدان التربوي.</p>

                 <p>
                    <img src="/images/check.jpg" style="max-width: 30px;width: 100%;" alt="Check">
                    وضع الدراسات لتنمية قدرات الطلاب وتوجيههم أكاديمياً ومهنياً حسب حاجات سوق العمل.
</p>

                 <p>
                    <img src="/images/check.jpg" style="max-width: 30px;width: 100%;" alt="Check">

                    عمل دراسات لتطوير المناهج التعليمية والتربوية وطرق تطبيقها ووضع خطط استراتيجية لتحقيق الأهداف
                    المرجوة، ودراسة أوضاع المؤسسات التربوية ووضع خطط استراتيجية لحل مشاكلها.</p>


                 <p>
                    <img src="/images/check.jpg" style="max-width: 30px;width: 100%;" alt="Check">وضع الدراسات والاستشارات لتطوير المؤسسات التربوية والتعليمية وفقاً للتطور التكنولوجي الحديث وإنشاء
                    المدارس على أنواعها وفق المبادئ التربوية والتعليمية الحديثة، وتعزيز القيم التربوية والأخلاقية ومبادئ
                    حقوق الإنسان وقيم الوحدة العربية والإسلامية.
                </p>
                 <p>
                    <img src="/images/check.jpg" style="max-width: 30px;width: 100%;" alt="Check">

                    دعم الاهتمام بالطفولة ودعم ومساندة المنظمات والمؤسسات الدولية والمحلية التي تهتم بهذا المجال.</p>
                 
            </div>

            <div class="row my-2 mt-4 px-0">
                <div class="col-1 d-flex justify-content-end align-items-center px-2 ">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-4 text-white"></i>

                    </div>
                </div>
                <div class="col-11 d-flex align-items-center px-0">

            <p class="fs-5 m-0 p-0 fw-bold" style="color:#223574">
                     
على الصعيدين الثقافي والفكري:</p>
                </div>
            </div>
            <div class="goalsItems">
                <p>
                    <img src="/images/check.jpg" style="max-width: 30px;width: 100%;" alt="Check">

                    الاهتمام باللغة العربية وإرثها الحضاري بوصفها لسان العرب ودليل وحدتهم والحفاظ على
                     الهوية الثقافية
                    العربية بروافدها الحضارية المتنوعة.</p>

                 <p>
                    <img src="/images/check.jpg" style="max-width: 30px;width: 100%;" alt="Check">

                    الدفاع عن حق الإنسان وحريته في التعبير عن رأيه وتعزيز ثقافة الاعتراف بالآخر وتعميم السلام.</p>
                 
            </div>

        
        </div>
    </div>
</div>