<div class="container-fluid header">
  <div class="row align-items-center py-4">
   
   <div class="col-lg-4 col-md-4 col-sm-4 ">
      <h1 class=" fw-bold fs-5 dark-red">الاتحاد الدولي للوطن العربي</h1>

    
    </div>
        <div class="col-lg-8 col-md-8 col-sm-8 text-start">
    
          <ul>
            <li>
              <a href="#home">الصفحة الرئيسية</a>
            </li>
             <li>
              <a href="#us">حول الاتحاد</a>
            </li>
              <li>
              <a href="#news">أخبار الاتحاد</a>
            </li>
              <li>
              <a href="#cities"   >المحافظات السورية
            </a>
            </li>

                <li>
              <a href="#membership"   >
انضم الى الاتحاد             </a>
            </li>
          <!--
            
          
            <li>
              <a [href]="loggedIn? 'admin' : 'login'" >
                تسجيل الدخول 
              </a>
            </li>
            <li><a [routerLink]="'login'"></a></li>
            
          -->
          </ul>
        </div>
      </div>

</div>