<div class="container-fluid my-4 border-1 border rounded-2 bg-white p-3">

    <div class="py-3">
        <div class="row">
            <div class="col-md-12 ">
                <p class="text-dark fs-5">تحرير قسم من نحن</p>
                <p>قم بتحديث معلومات الاتحاد</p>
            </div>
        </div>


        <form [formGroup]="form" (ngSubmit)="save()">
            <mat-form-field>
                <mat-label>
                    العنوان
                </mat-label>
                <textarea matInput formControlName="headline">

                </textarea>

            </mat-form-field>

            <mat-form-field>
                <mat-label>
                    النص الفرعي
                </mat-label>
                <textarea matInput formControlName="aboutUs"></textarea>

            </mat-form-field>
            <h5>الفقرات</h5>

            <div formArrayName="descriptions">
                <div *ngFor="let desc of descriptions.controls; let i = index">
                    <mat-form-field>
                        <mat-label>الفقرة {{ i + 1 }}</mat-label>
                        <textarea matInput [formControlName]="i"></textarea>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
    <button type="button" (click)="addInputField()" class="btn btn-primary">
                  اضافة فقرة جديدة          
         
            </button>
                </div>
                <div class="col-md-2">       <button type="button" (click)="removeInputFiled(descriptions.length-1)" class="btn btn-danger ">
                         
              حذف فقرة  
            </button>
        </div>

            </div>

            <button type="submit" class="btn btn2 mt-3"><span>
                 حفظ التغييرات
                </span>
            </button>
        </form>
    </div>

</div>