<div class="container-fluid body">

  <div class="row header justify-content-center align-content-center" >
    <div class="col-md-6">
        <p class="text-left fs-4 py-3 dark-red ">الاتحاد الدولي للوطن العربي</p>

    </div>

    <div class="col-md-6 text-left py-3 d-flex justify-content-end align-items-center">
        <p class="text-start  px-2"><a href=""  class="text-left">العودة للموقع</a></p>
        <p class="text-start  px-2"><a (click)="logout()"  class="text-left">
          
تسجيل الخروج        
        </a></p>

    </div>
  </div>
  <div class="editView">
 <div class="row  p-3 border-2 border border-bottom-0">
        <div class="col-md-12 ">
        <p class="fs-4 dark-red">لوحة التحكم</p>
        <p>إدارة محتوى الموقع</p>
        
        <div class="tabbar">

<mat-tab-group>
  <mat-tab label="القسم الرئيسي">
    <app-update-firstview></app-update-firstview>
  </mat-tab>
  <mat-tab label="من نحن"> 
    <app-update-about></app-update-about>
  </mat-tab>
  <mat-tab label="المحافظات السورية"> Content 3 </mat-tab>
    <mat-tab label="المحافظات السورية"> Content 3 </mat-tab>

<mat-tab label="المحافظات السورية"> Content 3 </mat-tab>

</mat-tab-group>


    
        </div>
        </div>
      
    </div>

  </div>
   

</div>