<div class="container-fluid">
    <div class="row bg-img">
        <div class="col-md-12 d-flex overlay justify-content-center align-items-center">
            <div class="text-white justify-content-center">
                <h1 class="text-center text-white fs-4 my-4">الاتحاد الدولي للوطن العربي</h1>

                <h1 class="fs-3 my-4" >بناء الجسور بين الثقافات، وتعزيز الحوار والتعاون من أجل مستقبل أفضل</h1>

                <div class="d-flex justify-content-center my-5">
                    <a href="#us"><button type="button" class="btn  fw-bold mx-3 px-4 py-2"><span>اعرف المزيد</span></button></a>
                    <a href="#contact">
                    <button type="button" class="btn2 fw-bold  mx-3 px-4 py-2"><span>تواصل معنا</span></button>
                    </a>
                </div>
               
            </div>
       
        </div>
    </div>
</div>

