<div class="container-fluid py-4">
    <div class="row justify-content-center my-3">
        <div class="col-md-6 colsm-6 text-center">
            <p class="dark-red fs-5 fw-bold">انضم إلى عضويتنا</p>
            <p>هل ترغب في أن تصبح عضواً في الاتحاد؟ </p>
            <p>أرسل لنا بياناتك</p>
        </div>
    </div>

    <div class="row justify-content-center mb-3">
        <div class="col-md-8 col-sm-8">
<form>
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6  col-sm-6">
             <label for="name" class="form-label">الاسم الأول</label>
    <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="اسمك الأول">

        </div>
        <div class="col-md-6 col-sm-6">
             <label for="lastName" class="form-label">اسم العائلة</label>
    <input type="text" class="form-control" id="lastName" aria-describedby="emailHelp" placeholder="اسم عائلتك">

        </div>
    </div>
    
    <div class="row justify-content-center align-content-center mt-3">
        <div class="col-md-12 col-sm-12">
 <label for="emailAddress" class="form-label">البريد الإلكتروني</label>
    <input type="email" class="form-control" id="emailAddress" aria-describedby="emailHelp" placeholder="البريد الإلكتروني الخاص بك">
        </div>
    </div>


  <button type="submit" class="btn btn-primary mt-3">إرسال الرسالة</button>
</form>
        </div>
    </div>
</div>

